{% extends "base.html" %}
{% load static %}
{% block content %}
        <h3 class="mb-3">nadpis</h3>
        <div class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, ex! Voluptatem quos eum iusto accusantium,
          quae velit tempora fugiat tempore consectetur iure. Sequi fugiat quisquam, laborum alias neque facere eius
          vero. Adipisci voluptatum quo sit laudantium est culpa numquam voluptatem iste eum obcaecati, corrupti
          architecto odit, ipsa ipsum autem quam.</div>
 {% endblock %}
