{% extends "base.html" %}
{% load static %}

{% block content %}
        <h2 class="text-success">Přehled receptů</h2>
        <p>Recepty slouží spíše k získání přehledu o kalorické hodnotě určitých jídel. Jídla jsou směšně snadná a těžko se dají považovat za něco, k čemu potřebujete recept.</p>
    <div class="container">
        <div class="row">
            {% for recept in recepty %}
            <div class="col-sm-4">
                <div class="shadow-sm mb-2 rounded " style="height:350px;">
                    <img style="margin: auto;display: block; border-radius: 10px 10px 0 0;"
                         class="img-fluid h-75 w-100"  src="{{ recept.picture.url }}">
                    <div class="float-left w-75">
                        <p class="pl-2 pt-2" >"{{ recept.name }}"</p>
                        <p class="pl-2">Porce: {{ recept.kcal }} kcal</p>
                    </div>
                    <div class="float-right w-25 pt-4 pr-2">
                        <a href="{% url 'detail' recept.pk %}">
                            <div class="btn btn-outline-success rounded text-center">Zkusit</div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 {% endblock %}